<template>
  <ul v-if="paginasTotal > 1">
    <li v-for="page in paginasTotal" :key="page">
      <router-link :to="{query: query(page)}">{{ page }}</router-link>
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    answersTotal: {
      type: Number,
      default: 1
    },
    answersPerPage: {
      type: Number,
      default: 1
    }
  },
  methods: {
    query(page) {
      return {
        _page: page
      };
    }
  },
  computed: {
    paginasTotal() {
      const total = this.answersTotal / this.answersPerPage;
      return total !== Infinity ? Math.ceil(total) : 0;
    }
  }
};
</script>

<style scoped>
ul {
  margin: 0 auto;
}

li {
  display: inline-block;
}

li a {
  padding: 2px 8px;
  border-radius: 2px;
  margin: 4px;
}

li a:hover {
  text-decoration: none;
}

li a.router-link-exact-active,
li a:hover {
  background: #ff511c;
  color: #ffffff;
}
</style>
