<template>
  <div>
    <!--==========================
        Hero Section
    ============================-->
    <section id="hero" class>
      <div class="hero-container">
        <h1>eQuest</h1>
        <h2>Nosso criador de pesquisas online é rápido, gratuito e totalmente personalizável</h2>
        <img src="@/assets/hero-img.png" alt="Hero Imgs">
        <a href="#get-started" class="btn-get-started">Criar uma conta</a>
      </div>
    </section>
    <!-- #hero -->
    <!--==========================
        Features Section
    ============================-->
    <section id="features" class="padd-section text-center">
      <div class="container">
        <div class="section-title text-center">
          <h2>recursos incríveis</h2>
          <p
            class="separator"
          >Nossa ferramenta te ajuda a criar um questionário para qualquer tipo de pesquisa.</p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="feature-block">
              <img src="@/assets/svg/paint-palette.svg" alt="img" class="img-fluid">
              <h4>design</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="feature-block">
              <img src="@/assets/svg/design-tool.svg" alt="img" class="img-fluid">
              <h4>fácil de usar</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="feature-block">
              <img src="@/assets/svg/cloud.svg" alt="img" class="img-fluid">
              <h4>interface amigável</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <p align="center">eQuest &copy;</p>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: "getStarted"
};
</script>


<style scoped>
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: calc(100vh - 40px);
  background-size: 100%;
  position: relative;
  margin-top: 40px;
}

@media (min-width: 1025px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #ff511c;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #4d5c82;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 300;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#hero img {
  max-width: 95%;
  margin-bottom: 60px;
}

#hero .btn-get-started {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 11px 36px;
  transition: 0.5s;
  margin-bottom: 30px;
  border: 2px solid #ff511c;
  background: #fff;
  color: #ff511c;
  text-decoration: none;
  border-radius: 0.25rem;
}

#hero .btn-get-started:hover {
  background: #ff511c;
  border: 2px solid #ff511c;
  color: #fff;
}

#hero .btns a {
  color: #555;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 4px 20px;
  text-decoration: none;
  transition: 0.3s;
}

@media (max-width: 575px) {
  #hero .btns a {
    margin: 4px 8px;
  }
}

#hero .btns a:hover {
  color: #1e40f5;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
.padd-section {
  padding-bottom: 200px;
  padding-top: 80px;
}

@media (max-width: 992px) {
  .padd-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-title {
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .section-title {
    margin-bottom: 40px;
  }
}

.section-title h2 {
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.section-title .separator {
  margin: 0;
}

.separator {
  color: #4d5c82;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 30px;
}

/* Features Section
--------------------------------*/
#features {
  display: inline-block;
  height: 100%;
  width: 100%;
}

#features .feature-block {
  background: #fff none repeat scroll 0 0;
  padding: 30px 20px;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out 0s;
}

#features .feature-block:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}

#features .feature-block h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 24px;
}

#features .feature-block p {
  margin-bottom: 0;
  color: #4d5c82;
}

.img-fluid {
  height: 60px;
  margin-bottom: 30px;
  width: 60px;
}

footer {
  height: 120px;
  background: #020619;
}

footer p {
  padding-top: 50px;
  color: #fff;
  margin: 0 auto;
  letter-spacing: 1px;
}
</style>
