<template>
  <div>
    <h1>Vue Loading Overlay demo</h1>

    <loading :active.sync="visible"></loading>

    <button @click.prevent="open()">Programmatic show</button>
    <button @click.prevent="show()">Component show, cancellable</button>
    <hr>
  </div>
</template>
 
<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

export default {
  data() {
    return {
      visible: false
    };
  },
  components: {
    Loading
  },
  methods: {
    open() {
      console.log("open was clicked, will auto hide");
      let loader = this.$loading.show({
        loader: "spinner",
        color: "#ff511c",
        height: 35,
        width: 35
      });
      setTimeout(() => loader.hide(), 3000);
    },
    show() {
      console.log("show was clicked, click to hide");
      // do AJAX here
      this.visible = true;
    }
  }
};
</script> 