<template>
  <transition mode="in-out">
    <div>
      <app-getStarted></app-getStarted>
    </div>
  </transition>
</template>

<script>
import getStarted from "./getStarted.vue";
export default {
  components: {
    "app-getStarted": getStarted
  }
};
</script>
