<template>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h3>Add User</h3>
      </div>
      <div class="card-body">
        <form v-on:submit.prevent="onSubmit">
          <div class="form-group">
            <label>User Name:</label>
            <input type="text" class="form-control" v-model="name">
          </div>
          <div class="form-group">
            <label>User Email:</label>
            <input type="text" class="form-control" v-model="email">
          </div>
          <div class="form-group">
            <label>Password:</label>
            <input type="text" class="form-control" v-model="password">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      name: "",
      password: "",
      terms: true
    };
  },
  methods: {
    onSubmit() {
      const formData = {
        email: this.email,
        name: this.name,
        password: this.password,
        terms: this.terms
      };
      console.log(formData);
      this.$store.dispatch("signup", formData);
      router.push("/index");
    }
  }
};
</script>