<template>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h3>Edit User</h3>
      </div>
      <div class="card-body">
        <form v-on:submit.prevent="updateUser">
          <div class="form-group">
            <label>User Name:</label>
            <input type="text" class="form-control" v-model="user.name">
          </div>
          <div class="form-group">
            <label>User Email:</label>
            <input type="text" class="form-control" v-model="user.price">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Update user">
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      user: {}
    };
  },

  created: function() {
    this.getuser();
  },

  methods: {
    getuser() {
      let uri = "http://localhost:4000/users/edit/" + this.$route.params.id;
      this.axios.get(uri).then(response => {
        this.User = response.data;
      });
    },

    updateUser() {
      let uri = "http://localhost:4000/users/update/" + this.$route.params.id;
      this.axios.post(uri, this.user).then(response => {
        this.$router.push({ name: "Index" });
      });
    }
  }
};
</script>