<template>
  <div class="container">
    <router-link to="/signup" class="btn btn-primary">Criar</router-link>
    <hr>

    <h1>Users</h1>

    <table class="table table-hover">
      <thead>
        <tr>
          <td>ID</td>
          <td>User Name</td>
          <td>User Email</td>
          <td>Actions</td>
        </tr>
      </thead>

      <tbody>
        <tr v-for="user in Users" :key="user.id">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <router-link :to="{name: 'Edit', params: { id: user.id }}" class="btn btn-primary">Edit</router-link>
          </td>
          <td>
            <button class="btn btn-danger" v-on:click="deleteItem(user.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      users: []
    };
  },

  created: function() {
    this.fetchUsers();
  },

  methods: {
    fetchUsers() {
      let uri = "https://equest-5170a.firebaseio.com/users.json";
      this.axios.get(uri).then(response => {
        this.users = response.data;
      });
    },
    deleteItem(id) {
      let uri = "https://equest-5170a.firebaseio.com/users.json/delete/" + id;
      this.users.splice(id, 1);
      this.axios.get(uri);
    }
  }
};
</script>