<!-- Componente para respostas do formulario-->
<template>
    <div>
        
         <input
            v-if="question.type == 'TEXT'"
            type="text"
            class="form-control"
            v-model="answer.value"
            @change="handleAnswer"
            :id="question.title">
          <textarea
            v-else-if="question.type == 'TEXTAREA'"
            class="form-control"
            v-model="answer.value"
            rows="3"
            @change="handleAnswer"
            :id="question.title"
          ></textarea>
          <input
            v-else-if="question.type == 'NUMBER'"
            type="number"
            class="form-control"
            v-model="answer.value"
            @change="handleAnswer"
            :id="question.title"
          >
          <div v-else-if="question.type == 'SELECT'">
            <select class="form-control" :id="question.title" v-model="answer.value" @change="handleAnswer">
              <option v-for="option in question.options" :key="option.id">{{option}}</option>
            </select>
          </div>
          <div v-else-if="question.type == 'CHECKBOX'">
            <b-form-group>
              <b-form-checkbox-group
                :id="question.title"
                v-model="answer.values"
                name="radio-check"
                v-for="option in question.options"
                :key="option">
                <b-form-checkbox :value="option" @change="handleCheck(option)">{{option}}</b-form-checkbox>  
              </b-form-checkbox-group>
            </b-form-group>
          </div>
          <div v-else-if="question.type == 'RADIO'">
            <b-form-group>
              <b-form-radio-group
                :id="question.title"
                v-model="answer.value"
                name="radio-options"
                v-for="(option, index) in question.options"
                :key="option"
                >
                <b-form-radio :value="option" @change="handleRadio(option, index)">{{option}}</b-form-radio>
              </b-form-radio-group>
            </b-form-group>
          </div>
    </div>
</template>
<script>
export default {
    data: function(){
        return {
            answer : {
                question : {
                    id: "",
                    options:[""],
                    required: false,
                    title: "",
                    type: ""
                },
                value: "",
                date: "",
                values: []
            }
        }
    },
    props: {
        question: {}
    },
    methods:{
        handleAnswer(){
            this.answer.question = this.$props.question;
            this.$emit('newAnswer',this.answer);
        },
        handleRadio(option){
          this.answer.value = option;
          this.handleAnswer();
        },
        handleCheck(option, index){
          this.answer.values[index] = option;
          this.handleAnswer();
        }
    }
}
</script>
