<template>
  <div class="container">
    <loading :active.sync="visible"></loading>
    <div v-if="errors.length">
      <b>Por favor, corrija o(s) seguinte(s) erro(s):</b>
      <div class="alert alert-danger" role="alert" v-for="error in errors" :key="error">{{ error }}</div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h3>{{ mainTemplate.name }}</h3>
        <p class="mt-3">{{ mainTemplate.description.slice(0, 150) }}</p>
        <p>
          <a class="text-primary" @click.prevent="showMsgBox(mainTemplate.description)">Ler mais</a>
        </p>
        <hr>
        <!-- Questions -->
        <h4>Questões</h4>
          <questionAnswer v-bind:questions="mainQuestions" @onChangeAnswers="setAnswers($event)"></questionAnswer>
        <div>
          <div class="mb-2">
            <b-button variant="primary" class="float-right" @click="createSurvey">Salvar resposta</b-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import questionAnswer from "./questionAnswer";

export default {
  data: function() {
    return {
      mainTemplate: [],
      mainQuestions: [],
      errors: [],
      visible: false,
      mainAnswers:[],
      mainSurvey: {
        name: "",
        description: "",
        answers:[],
        template: {}
      }
    };
  },
  components: {
    Loading,
    questionAnswer
  },

  created: function() {
    let loader = this.$loading.show({
      loader: "spinner",
      color: "#ff511c",
      height: 35,
      width: 35
    });
    setTimeout(() => loader.hide(), 700);
    var currentUrl = window.location.search;
    var word = "templateId=";
    let templateId = currentUrl.split(word).pop();
    this.getTemplateById(templateId);
    this.fillData();
  },

  methods: {
    getTemplateById(templateId) {
      this.$store.dispatch("getFormById", templateId);
    },

    fillData() {
      var template = JSON.parse(localStorage.getItem("retrievedForm"));
      this.mainTemplate = template.data;
      this.mainQuestions = template.data.questions;
    },
    checkForm(answers) {
      while (this.errors.length) {
        this.errors.pop();
      }

      if(answers.length == 0){
        var erro = "Por favor preencha os dados do formulário!";
        this.errors.push(erro);
      }
      for (var i = 0; i < answers.length; i++) {
        var isEmpty = false;
        if (answers[i].value == "" && answers[i].values == null) {
          isEmpty = true;
        }

        if (answers[i].question.required == true && isEmpty == true) {
          var erro =
            "A alternativa " +
            answers[i].question.title +
            " é obrigatória e precisa ser preenchida!";
          this.errors.push(erro);
        }
      }
    },
    showMsgBoxOne() {
      this.$bvModal.msgBoxOk("Resposta cadastrada com sucesso!").then(value => {
        this.$router.push("/dashboard");
      });
    },

    createSurvey() {
     var answers = this.mainAnswers;
     this.checkForm(answers); 
      if (!this.errors.length) {
        this.$store
          .dispatch("createAnswers", answers)
          .then(res => {
            this.mainSurvey.name = this.mainTemplate.name;
            this.mainSurvey.description = this.mainTemplate.description;
            this.mainSurvey.template = this.mainTemplate;
            this.mainSurvey.answers = res.data;
            this.saveSurvey(this.mainSurvey);
          })
          .catch(() => {});
      };
    },

    saveSurvey(survey) {
      let loader = this.$loading.show({
        loader: "spinner",
        color: "#ff511c",
        height: 35,
        width: 35
      });
      setTimeout(() => loader.hide(), 1200);
      this.$store.dispatch("createSurvey", survey).then(res => {
        this.visible = false;
        this.showMsgBoxOne();
      });
    },

    showMsgBox(text) {
      this.$bvModal
        .msgBoxOk(text, {
          size: "md",
          buttonSize: "sm",
          okVariant: "success",
          headerClass: "p-2 border-bottom-0",
          footerClass: "p-2 border-top-0",
          centered: true
        })
        .catch(err => {
          console.log(err);
        });
    },

    setAnswers(answers){
      this.mainAnswers = answers;
    }
  }
};
</script>

<style scoped>
a {
  cursor: pointer;
}
select {
  cursor: pointer;
}
.form-check-input,
.form-check-output {
  cursor: pointer;
}
</style>

