<template>
  <div class="container">
    <loading :active.sync="visible"></loading>
    <div class="card mb-3">
      <div class="card-body">
        <div class="form-group">
          <label for="title">Título</label>
          <input type="text" class="form-control" id="title" v-model="mainTemplate.name">
        </div>
        <div class="form-group">
          <label for="description">Descrição</label>
          <textarea
            class="form-control"
            id="description"
            rows="3"
            v-model="mainTemplate.description"
          ></textarea>
        </div>
        <hr>
        <div
          class="card mb-3"
          v-for="(question, index) in mainTemplate.questions"
          :key="mainTemplate.questions[index]"
        >
          <Question
            @newQuestion="handleQuestion($event, index)"
            @onDelete="deleteQuestion(index)"
            v-bind:question="question"
          ></Question>
        </div>
        <button type="button" class="btn btn-success" @click="addQuestion">Nova questão</button>
        <button
          type="button"
          class="btn btn-primary float-right"
          @click="editForm"
        >Editar formulário</button>
      </div>
    </div>
  </div>
</template>

<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

import Question from "./Question";
export default {
  data() {
    return {
      mainTemplate: {
        id: "",
        name: "",
        description: "",
        questions: [
          {
            id: "",
            options: [""],
            required: false,
            title: "",
            type: ""
          }
        ],
        surveyUrl: "",
        createdBy: "",
        visible: false
      }
    };
  },
  components: {
    Question,
    Loading
  },
  mounted() {
    //this.mainTemplate = json;
    //console.log(this.mainTemplate);

    this.$store
      .dispatch("findFormById", this.$route.params.id)
      .then(response => {
        this.mainTemplate = response.data;
      })
      .catch(error => {
        this.showDialogError(error);
      });
  },
  methods: {
    handleQuestion(e, index) {
      this.mainTemplate.questions[index] = e;
    },
    editForm() {
      let loader = this.$loading.show({
        loader: "spinner",
        color: "#ff511c",
        height: 35,
        width: 35
      });
      setTimeout(() => loader.hide(), 1500);
      this.$store
        .dispatch("editForm", this.mainTemplate)
        .then(() => {
          this.visible = false;
          this.showDialogSuccess();
        })
        .catch(error => {
          this.visible = false;
          this.showDialogError(error);
        });
    },
    deleteQuestion(index) {
      this.mainTemplate.questions.splice(index, 1);
    },
    addQuestion() {
      this.mainTemplate.questions.push({
        id: null,
        options: [""],
        required: false,
        title: "",
        type: "TEXT"
      });
    },
    showDialogSuccess() {
      this.$bvModal.msgBoxOk("Formulário editado com sucesso!").then(() => {
        this.$router.push("/dashboard");
      });
    },
    showDialogError(error) {
      this.$bvModal
        .msgBoxOk(error.response.data.message, {
          okVariant: "danger",
          title: "Erro ao editar"
        })
        .then(() => {
          this.$router.push("/dashboard");
        });
    }
  }
};
</script>

<style scoped>
.closeRow {
  cursor: pointer;
  font-size: 1.3em;
}
</style>
