<template>
  <div>
    <loading :active.sync="visible"></loading>
    <div class="album">
      <div class="container" v-cloak>
        <div class="row">
          <div class="col-md-4" v-for="form in displayedForms" :key="form.id">
            <div class="card mb-4 box-shadow post-cards">
              <div class="card-body">
                <h5 class="capitalize">{{form.name}}</h5>
                <p class="card-text">{{form.description.slice(0, 120)}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-primary">
                      <a :href="form.surveyUrl">Formulário</a>
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-primary">
                      <router-link :to="{ name: 'Answers', params: { id: form.id } }">Respostas</router-link>
                    </button>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-primary">
                      <router-link :to="{ name: 'EditSurvey', params: { id: form.id } }">Editar</router-link>
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-danger"
                      @click.prevent="deleteTemplate(form.id)"
                    >Deletar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix btn-group col-md-2 offset-md-5">
          <button
            type="button"
            class="btn btn-sm btn-outline-primary"
            v-if="page != 1"
            @click="page--"
          >prev</button>
          <button
            type="button"
            class="btn btn-sm btn-outline-primary"
            v-for="pageNumber in pages.slice(page-1, page+5)"
            @click="page = pageNumber"
            :key="pageNumber"
          >{{pageNumber}}</button>
          <button
            type="button"
            @click="page++"
            v-if="page < pages.length"
            class="btn btn-sm btn-outline-primary"
          >next</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

export default {
  name: "formsByUser",
  data() {
    return {
      forms: [],
      page: 1,
      perPage: 9,
      pages: [],
      visible: false
    };
  },
  components: {
    Loading
  },
  methods: {
    getFormsByUser() {
      let loader = this.$loading.show({
        loader: "spinner",
        color: "#ff511c",
        height: 35,
        width: 35
      });

      setTimeout(() => loader.hide(), 1200);

      this.$store
        .dispatch("getFormsByUser")
        .then(res => {
          this.forms = res.data;
          this.visible = false;
        })
        .catch(error => {
          this.visible = false;
          console.log(error);
        });
    },
    setPages() {
      let numberOfPages = Math.ceil(this.forms.length / this.perPage);
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index);
      }
    },
    paginate(forms) {
      let page = this.page;
      let perPage = this.perPage;
      let from = page * perPage - perPage;
      let to = page * perPage;
      return forms.slice(from, to);
    },
    deleteTemplate(formId) {
      let payload = this.forms.find(form => form.id === formId);
      this.$bvModal
        .msgBoxConfirm(
          "Ao deletar esse formulário, você também estará deletando suas respostas.",
          {
            title: "Tem certeza que quer deletar?",
            size: "md",
            buttonSize: "sm",
            okVariant: "danger",
            okTitle: "SIM",
            cancelTitle: "NÃO",
            headerClass: "p-2 border-bottom-0",
            footerClass: "p-2 border-top-0",
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            this.$store.dispatch("deleteForm", payload);
            this.$router.go();
          }
        })
        .catch(error => {
          console.log(error.response);
        });
    }
  },
  mounted() {
    this.getFormsByUser();
  },
  watch: {
    forms() {
      this.setPages();
    }
  },
  computed: {
    displayedForms() {
      return this.paginate(this.forms);
    }
  }
};
</script>

<style scoped>
a:hover {
  text-decoration: none;
  color: #fff;
}
</style>
