<!--- Componente para criar as respostas do formulário ---->
<template>
    <div>
        <div class="form-group mt-3" v-for="(question, index) in questions" :key="question.id">
        <label :for="questions[index].title">{{question.title}}</label>
          <answerInput v-bind:question="question" @newAnswer="handleAnswers($event,index)"></answerInput>
        </div>
    </div>
</template>
<script>
import answerInput from "./answerInputs";
export default {
    data : function(){
        return {
            mainAnswers : []
        }
    },
    props : {
        questions : Array,
        answers: Array
    },
    components:{
        answerInput
    },
    mounted(){
        console.log(this.questions)
    },
    methods:{
        handleAnswers(e,index){
            this.mainAnswers[index] = e;
            this.$emit("onChangeAnswers", this.mainAnswers);
        }
    }
    
}
</script>
