<!-- Componente para as opções das questões -->
<template>
    <div>
        <div class="form-row">
            <div class="col-sm-3 mb-3">
                <button class="btn btn-danger pl-3 pr-3" @click="deleteOption" >-</button>
            </div>
            <div class="col-sm-9 mb-3">
                <input type="text" class="form-control" v-model="value">
            </div>
        </div>
        
    </div>
</template>
<script>
export default {
    props: {
        value: String
    },
    watch:{
        value : {
            handler: function(){
                this.$emit('newOption', this.value);
            }
        }
    },
    methods:{
        deleteOption(){
            this.$emit('onDelete');
        }
    }
}
</script>