<!-- Componente para criar as questões da Lista -->
<template>
    <div>
        <div class="card-body" >
            <div class="row">
                <div class="col">
                    <span class="float-right closeRow" @click="deleteQuestion">X</span>
                </div>
            </div>

            <div class="form-row">
                <div class="col-sm-3">
                    <label for="questionType">Tipo da questão</label>
                    <select class="form-control" id="questionType" v-model="question.type" @change="onTypeChange">
                        <option v-for="prop in questionType.properties" :key="prop" v-bind:value="prop.returnName">{{prop.displayName}}</option>
                    </select>
                </div>
                <div class="col-sm-9">
                    <label for="questionName">Título da questão</label>
                    <input type="text" class="form-control" id="questionName" v-model="question.title">
                </div>
            </div>

            <div class="mt-3" v-if="question.type == 'SELECT' || question.type == 'CHECKBOX' || question.type == 'RADIO' " >
              <div v-for="(option, index) in question.options" :key="question.options[index]">
                <questionOption  @newOption="handleOption($event, index)" @onDelete="deleteOption(index)" v-bind:value="option" />
              </div>
              <div class="form-row">
                <div class="col-sm-12">
                  <button class="btn btn-success center-block" @click="addOption" >+</button>
                </div>
              </div>
            </div>

        </div>
    </div>
</template>
<script>
import questionOption from './questionOption'
export default {
    data: function(){
        return{
            questionType: {
                properties: {
                    0: { displayName : "Caixa de texto", value: 0, returnName: "TEXT"},
                    1: { displayName : "Área de texto", value: 1, returnName: "TEXTAREA"},
                    2: { displayName : "Numérico", value: 2, returnName: "NUMBER"},
                    3: { displayName : "Caixa de seleção", value: 3, returnName: "SELECT"},
                    4: { displayName : "Caixa de marcação", value: 4, returnName: "CHECKBOX"},
                    5: { displayName : "Botão de opção", value: 5, returnName: "RADIO"}
                }
            }
        }
    },
    props: {
        question : {
          id: "",
          options:[""],
          required: false,
          title: "",
          type: ""
        }
    },
    mounted(){
        console.log(this.question);
    },
    watch:{
        question : {
            handler: function(){
                this.$emit('newQuestion', this.question);
            }
        }
    },
    components: {
        questionOption
    },
    methods: {
        handleOption(e, index){
            this.question.options[index] = e;
        },
        deleteQuestion(){
            this.$emit('onDelete');
        },
        deleteOption(index){
            this.question.options.splice(index, 1);
        },
        addOption(){
            this.question.options.push("");
        },
        onTypeChange(){
            var type = this.question.type;
            if((type == 'TEXT' || type == 'TEXTAREA' || type == 'NUMBER')){
                this.question.options = [];
            }
        }
    }
}
</script>
<style scoped>
.closeRow {
  cursor: pointer;
  font-size: 1.3em;
}
</style>