<template>
  <header id="header" class="shadow-sm p-3 mb-5 rounded">
    <div class="logo">
      <router-link to="/">
        <span>e</span>Quest
      </router-link>
    </div>
    <nav>
      <ul>
        <li v-if="!auth">
          <router-link to="/signup">Cadastro</router-link>
        </li>
        <li v-if="!auth">
          <router-link to="/signin">Entrar</router-link>
        </li>
        <li v-if="auth">
          <router-link to="/dashboard">Dashboard</router-link>
        </li>
        <li v-if="auth">
          <router-link to="/profile">Perfil</router-link>
        </li>
        <li v-if="auth">
          <button @click="onLogout" class="logout">Sair</button>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
import databaseAuth from "@/services/databaseAuth";

export default {
  computed: {
    auth() {
      return this.$store.state.currentUser;
    }
  },
  methods: {
    async onLogout() {
      await databaseAuth.signOut();
      this.$router.push("/");
    }
  }
};
</script>

<style scoped>
#header {
  height: 56px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-weight: bold;
  color: #ff511c;
}

.logo a {
  text-decoration: none;
  color: #ff511c;
}

nav {
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
}

li {
  margin: 0 16px;
}

li a,
li button {
  text-decoration: none;
  color: #ff511c;
}

li a:hover,
li a:active,
li a.router-link-active,
li button a.router-link-active {
  color: #1e40f5;
}

.logout {
  background-color: transparent;
  border: none;
  font: inherit;
  color: #ff511c;
  cursor: pointer;
}
</style>