<template>
  <div class="container user">
    <h1 class="display-4"></h1>

    <form @submit.prevent="editUser">
      <div class="alert alert-danger" role="alert" v-if="error">{{ error }}</div>
      <div class="card">
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col">
              <label for="displayName">Nome</label>
              <input
                type="text"
                class="form-control"
                id="displayName"
                v-model="currentUser.displayName"
              >
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label for="userEmail">Email</label>
              <input type="email" class="form-control" id="userEmail" v-model="currentUser.email">
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Salvar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import databaseAuth from "@/services/databaseAuth";

export default {
  data() {
    return {
      displayName: "",
      email: "",
      error: ""
    };
  },
  computed: {
    currentUser() {
      console.log(this.$store.state.currentUser);
      return this.$store.state.currentUser;
    }
  },
  methods: {
    async editUser() {
      const payload = {
        email: this.email,
        displayName: this.displayName
      };

      let result = await databaseAuth.editUser(payload);
      if (result.message) {
        this.error = result.message;
      } else {
        this.$router.push("/dashboard");
      }
    }
  }
};
</script>

<style scoped>
.user {
  max-width: 550px;
}
</style>
