<template>
  <div class="container">
    <div>
      <div class="card cardEdit ml-3" style="width: 18rem;">
        <router-link to="/createform" class="mx-auto p-5 createForm">
          <h1>+</h1>
        </router-link>
      </div>
    </div>
    <hr>
    <app-formsByUser></app-formsByUser>
  </div>
</template>

<script>
import formsByUser from "../survey/formsByUser.vue";
export default {
  name: "dashboard",
  components: {
    "app-formsByUser": formsByUser
  }
};
</script>

<style scoped>
.cardEdit {
  border-style: dashed;
  color: #f4f4f4;
}

.cardEdit h1 {
  color: #ff511c;
}

.cardEdit:hover {
  box-shadow: 2px 2px 5px 1px rgba(199, 199, 199, 1);
  border-style: solid;
}

.createForm {
  text-decoration: none;
  color: #ff511c;
  cursor: pointer;
}

.createForm h1:hover {
  color: #007bff;
}
</style>