<template>
  <div class="container">
    <loading :active.sync="visible"></loading>

    <section>
      <div class="mb-4">
        <h3>{{ mainTemplate.name }}</h3>
        <hr>
      </div>
    </section>
    <button type="button" class="btn btn-success mb-3">
      <export-excel :data="xlsFile">
        Exportar xls
      </export-excel>
    </button>
    <section>
      <div
        id="answersCharts"
        role="tablist"
        v-for="(question, index) in mainTemplate.questions"
        :key="question.id"
      >
        <b-card no-body class>
          <b-button
            block
            v-b-toggle="'collapse-' + index"
            @click.prevent="getAnswers(question.id)"
            class="bg-light text-dark text-left"
          >Questão: {{question.title}}</b-button>
          <b-collapse :id="'collapse-' + index" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <table class="table table-hover" v-for="(answers, index) in answersMap" :key="index">
                <tbody>
                  <tr v-if="question.type === 'CHECKBOX'">
                    <td
                      v-for="(answer, index) in answers"
                      :key="index"
                      @click.prevent="showMsgBox(answers)"
                    >Resposta: {{answer}}</td>
                  </tr>
                  <tr v-else>
                    <td @click.prevent="showMsgBox(answers)">{{answers.slice(0, 150)}}</td>
                  </tr>
                </tbody>
              </table>
              <hr>
              <!-- <AnswersPage :answersTotal="answersTotal" :answersPerPage="answersPerPage"/> -->
            </b-card-body>
          </b-collapse>
        </b-card>
      </div>
    </section>
    <!-- <ChartsAnswers></ChartsAnswers> -->
  </div>
</template>

<script>
import AnswersPage from "@/components/pagination/pagination.vue";
import ChartsAnswers from "@/components/survey/answers/charts.vue";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

export default {
  components: { AnswersPage, ChartsAnswers, Loading },
  data() {
    return {
      mainTemplate: [],
      answers: [],
      questionsMap: [],
      answersMap: [],
      answersCharts: [
        {
          idQuestao: "",
          opcao: "",
          count: 0
        }
      ],
      answersPerPage: 6,
      currentPage: 1,
      answersTotal: 0,
      visible: false,
      xlsFile: []
    };
  },
  mounted() {
    let loader = this.$loading.show({
      loader: "spinner",
      color: "#ff511c",
      height: 35,
      width: 35
    });
    setTimeout(() => loader.hide(), 2000);
    this.$store
      .dispatch("findFormById", this.$route.params.id)
      .then(res => {
        this.visible = false;
        this.mainTemplate = res.data;
        this.mapAnswersCharts();
        this.$store
          .dispatch("getAnswers", this.mainTemplate.questions)
          .then(res => {
            this.visible = false;
            this.answers = res.data;
            this.getQuestions();
            this.createXLSFile();
          })
          .catch(() => {
            this.visible = false;
          });
      })
      .catch(() => {
        this.visible = false;
      });
  },
  methods: {
    getQuestions() {
      let myMap = new Map();
      this.answers.forEach(data => {
        if (data.question.type === "CHECKBOX") {
          this.insertMap(myMap, data.question.id, data.values);
        } else {
          this.insertMap(myMap, data.question.id, data.value);
        }
      });
      this.questionsMap = myMap;
    },
    insertMap(map, key, value) {
      //:=> Verifica se a key ja existe.
      let values = map.get(key);
      //:=> Se existe :=> Empurra item para fila selecionada.
      if (values) values.push(value);
      // Else não existe
      //:=> Hash na key && define para iteração atual
      else map.set(key, [value]);
    },
    getAnswers(answersId) {
      let loader = this.$loading.show({
        loader: "spinner",
        color: "#ff511c",
        height: 35,
        width: 35
      });
      setTimeout(() => loader.hide(), 500);
      this.answersMap = "";
      this.answersMap = this.questionsMap.get(answersId);
      //this.answersTotal = this.answersMap.length;
    },
    showMsgBox(text) {
      this.$bvModal
        .msgBoxOk(text, {
          size: "md",
          buttonSize: "sm",
          okVariant: "success",
          headerClass: "p-2 border-bottom-0",
          footerClass: "p-2 border-top-0",
          centered: true
        })
        .catch(err => {
          console.log(err);
        });
    },
    answersChartsJson() {
      let result = this.mainTemplate.questions.forEach(question => {
        if (
          question.type === "SELECT" ||
          question.type === "CHECKBOX" ||
          question.type === "RADIO"
        ) {
          question.options.map(opcao => {
            console.log(question.id);
            console.log(opcao);
            this.answersCharts.idQuestao = question.id;
            this.answersCharts.opcao = opcao;
            // this.answersCharts[idQuestao] = question.id;
            // this.answersCharts[opcao] = opcao;
          });
          return true;
        }
      });
      console.log(this.answersCharts);
    },
    countAnswersCharts() {},
    mapAnswersCharts() {
      this.answersChartsJson();
      this.countAnswersCharts();
    },
    createXLSFile() {
      let answers = this.answers;
      for (var index in answers) {
        var answer = answers[index];
        var xlsData = {
          Questao: "",
          Resposta: ""
        };
        xlsData.Questao = answer.question.title;
        if (answer.value != "") {
          xlsData.Resposta = answer.value;
        } else if (answer.values != "") {
          xlsData.Resposta = answer.values;
        }
        this.xlsFile.push(xlsData);
      }
    }
  },

  computed: {
    mount() {
      return this.getQuestions();
    }
  }
};
</script>

<style scoped>
td,
button {
  cursor: pointer;
}
</style>
