<template>
  <div class="container">
    <pie-chart :data="data"></pie-chart>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: [["Blueberry", 44], ["Strawberry", 23]]
    };
  }
};
</script>

<style>
</style>
