<template>
  <div>
    <table class="table table-hover" v-for="(answers, index) in answersMap" :key="index">
      <tbody>
        <tr v-if="question.type === 'CHECKBOX'">
          <td
            v-for="(answer, index) in answers"
            :key="index"
            @click.prevent="showMsgBox(answers)"
          >{{answer}}</td>
        </tr>
        <tr v-else>
          <td @click.prevent="showMsgBox(answers)">{{answers.slice(0, 150)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "table",
  props: {
    answersMap: Array
  },
  methods: {
    showMsgBox(text) {
      this.$bvModal
        .msgBoxOk(text, {
          size: "md",
          buttonSize: "sm",
          okVariant: "success",
          headerClass: "p-2 border-bottom-0",
          footerClass: "p-2 border-top-0",
          centered: true
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>

<style>
</style>
