<template>
  <div class="container login-form">
    <div>
      <form @submit.prevent="signUp">
        <div class="alert alert-danger" role="alert" v-if="error">{{ error }}</div>
        <div class="card">
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col">
                <label for="userName">Nome</label>
                <input
                  type="text"
                  class="form-control"
                  id="userName"
                  :class="{ 'is-invalid': submitted && $v.userName.$error }"
                  v-model="userName"
                >
                <div
                  v-if="submitted && !$v.userName.required"
                  class="invalid-feedback"
                >Nome é obrigatório</div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col">
                <label for="userEmail">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="userEmail"
                  v-model="email"
                  :class="{ 'is-invalid': submitted && $v.email.$error }"
                >
                <div v-if="submitted && $v.email.$error" class="invalid-feedback">
                  <span v-if="!$v.email.required">O email é obrigatório</span>
                  <span v-if="!$v.email.email">O email está inválido</span>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="userPassword">Senha</label>
                <input
                  type="password"
                  class="form-control"
                  id="userPassword"
                  v-model="password"
                  :class="{ 'is-invalid': submitted && $v.password.$error }"
                >
                <div v-if="submitted && $v.password.$error" class="invalid-feedback">
                  <span v-if="!$v.password.required">A senha é obrigatória</span>
                  <span v-if="!$v.password.minLength">A senha deve ter no minímo 6 caracteres</span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Cadastrar</button>
            </div>
          </div>
        </div>
      </form>
      <p class="text-center small mt-3">
        Já tem uma conta?
        <router-link to="/signin">Acesse!</router-link>
      </p>
    </div>
  </div>
</template>

<script>
import databaseAuth from "@/services/databaseAuth";
import { required, email, minLength } from "vuelidate/lib/validators";

export default {
  name: "signup",
  data() {
    return {
      userName: "",
      email: "",
      password: "",
      error: "",
      submitted: false
    };
  },
  validations: {
    userName: { required },
    email: { required, email },
    password: { required, minLength: minLength(6) }
  },
  methods: {
    async signUp() {
      this.submitted = true;
      // stop here if form is invalid
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }

      const payload = {
        email: this.email,
        userName: this.userName,
        password: this.password,
        terms: this.terms
      };

      let result = await databaseAuth.signUp(payload);
      if (result.message) {
        this.error = result.message;
      } else {
        console.log("User criado");
        databaseAuth.saveToken();
        this.$router.push("/dashboard");
      }
    }
  }
};
</script>

<style scoped>
.login-form {
  max-width: 550px;
}
.login-form h2 {
  margin: 10px 0 25px;
}
</style>
