<template>
  <div class="container login-form">
    <loading :active.sync="visible"></loading>
    <form @submit.prevent="signIn">
      <div class="alert alert-danger" role="alert" v-if="error">{{ error }}</div>
      <div class="card">
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col">
              <label for="userEmail">Email</label>
              <input
                name="userEmail"
                type="email"
                class="form-control"
                id="userEmail"
                :class="{ 'is-invalid': submitted && $v.email.$error }"
                v-model="email"
              >
              <div v-if="submitted && $v.email.$error" class="invalid-feedback">
                <span v-if="!$v.email.required">Por favor, preencha com o seu email</span>
                <span v-if="!$v.email.email">Email é inválido</span>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label for="userPassword">Senha</label>
              <input
                type="password"
                class="form-control"
                id="userPassword"
                :class="{ 'is-invalid': submitted && $v.password.$error }"
                v-model="password"
              >
              <div
                v-if="submitted && !$v.password.required"
                class="invalid-feedback"
              >Por favor, preencha com a sua senha</div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Entrar</button>
          </div>
        </div>
      </div>
    </form>
    <p class="text-center small mt-3">
      Novo por aqui?
      <router-link to="/signup">Cadastre-se!</router-link>
    </p>
  </div>
</template>

<script>
import databaseAuth from "@/services/databaseAuth";
import { required, email } from "vuelidate/lib/validators";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

export default {
  name: "signin",
  data() {
    return {
      email: "",
      password: "",
      error: "",
      submitted: false,
      visible: false
    };
  },
  validations: {
    email: { required, email },
    password: { required }
  },
  components: {
    Loading
  },
  methods: {
    async signIn() {
      this.submitted = true;
      // stop here if form is invalid
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }

      let loader = this.$loading.show({
        loader: "spinner",
        color: "#ff511c",
        height: 35,
        width: 35
      });

      const payload = {
        email: this.email,
        password: this.password
      };
      setTimeout(() => loader.hide(), 750);

      let result = await databaseAuth.signIn(payload);
      if (result.message) {
        loader.hide();
        this.error = result.message;
      } else {
        databaseAuth.saveToken(() => {
          this.$router.push("/dashboard");
        });
      }
    }
  }
};
</script>

<style scoped>
.login-form {
  max-width: 550px;
}
.login-form h2 {
  margin: 10px 0 25px;
}
</style>
