<template>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label for="title">Título</label>
          <input
            type="text"
            class="form-control"
            id="title"
            v-model="formTitle"
            :class="{ 'is-invalid': submitted && $v.formTitle.$error }"
          >
          <div v-if="submitted && $v.formTitle.$error" class="invalid-feedback">
            <span v-if="!$v.formTitle.required">{{ errorValidate }}</span>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Descrição</label>
          <textarea
            class="form-control"
            id="description"
            rows="3"
            v-model="formDescription"
            :class="{ 'is-invalid': submitted && $v.formDescription.$error }"
          ></textarea>
          <div v-if="submitted && $v.formTitle.$error" class="invalid-feedback">
            <span v-if="!$v.formDescription.required">{{ errorValidate }}</span>
          </div>
        </div>

        <hr>

        <div class="card mb-3" v-for="row in rows" :key="row.id">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <span class="float-right closeRow" @click="deleteRow">X</span>
              </div>
            </div>

            <div class="form-row">
              <div class="col-sm-3">
                <label for="questionType">Tipo da questão</label>
                <select class="form-control" v-model="row.select">
                  <option
                    :value="option.value"
                    v-for="option in options"
                    :key="option.id"
                  >{{ option.label }}</option>
                </select>
              </div>
              <div class="col-sm-9">
                <label for="questionName">Título da questão</label>
                <input type="text" class="form-control" v-model="row.questionName">
              </div>
            </div>

            <div class="mt-3" v-if="row.select == 3 || row.select == 4 || row.select == 5">
              <div class="form-row" v-for="subrow in row.subrows" :key="subrow.id">
                <div class="col-sm-3 mb-3">
                  <button class="btn btn-danger pl-3 pr-3" @click="deleteSubrow(row, subrow)">-</button>
                </div>
                <div class="col-sm-9 mb-3">
                  <input type="text" class="form-control" v-model="subrow.answer">
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-12">
                  <button class="btn btn-success center-block" @click="addSubRow(row)">+</button>
                </div>
              </div>
            </div>

            <div class="form-check mt-3">
              <input class="form-check-input" type="checkbox" v-model="row.check">
              <label class="form-check-label" for="check">Obrigatória</label>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-success" @click="addRow">Nova Questão</button>
        <button
          type="button"
          class="btn btn-primary float-right"
          @click="submitForm"
        >Criar formulário</button>
      </div>
    </div>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      options: [
        { label: "Caixa de texto", value: 0 },
        { label: "Área de texto", value: 1 },
        { label: "Numérico", value: 2 },
        { label: "Caixa de seleção", value: 3 },
        { label: "Caixa de marcação", value: 4 },
        { label: "Botão de opção", value: 5 }
      ],
      rows: [
        { select: 0, questionName: "", check: false, subrows: [{ answer: "" }] }
      ],
      formTitle: "",
      formDescription: "",
      userId: "",
      submitted: false,
      errorValidate: "Esse campo é obrigatório"
    };
  },
  validations: {
    formTitle: { required },
    formDescription: { required },
    rows: {
      questionName: { required },
      answer: { required }
    }
  },
  methods: {
    addRow: function() {
      this.rows.push({
        select: 0,
        questionName: "",
        check: false,
        subrows: [{ answer: "" }]
      });
    },
    deleteRow: function(row) {
      this.rows.pop(row);
    },
    addSubRow: function(row) {
      row.subrows.push({ answer: "" });
    },
    deleteSubrow: function(row, subrow) {
      row.subrows.pop(subrow);
    },
    submitForm() {
      // this.submitted = true;
      // // stop here if form is invalid
      // this.$v.$touch();
      // if (this.$v.$invalid) {
      //   return;
      // }

      let questionsRows = this.rows;
      let result = questionsRows.map(question => {
        //se o tipo da pergunta for SELECT, CHECKBOX OU RADIO retorno o parametro options, se nao nao retorno
        //faco isso se nao ele manda um array de uma opção com valor vazio
        if (
          question.select == 3 ||
          question.select == 4 ||
          question.select == 5
        ) {
          return {
            id: null,
            title: question.questionName,
            type: question.select,
            options: question.subrows.map(option => {
              return option.answer;
            }), //retorno somente a string para fazer a lista de strings ao inves de lista de objetos
            required: question.check
          };
        }

        return {
          id: null,
          title: question.questionName,
          type: question.select,
          required: question.check
        };
      });

      const formData = {
        id: null,
        name: this.formTitle,
        description: this.formDescription,
        questions: result,
        createdBy: this.$store.state.currentUser.uid
      };

      this.$store.dispatch("createQuestions", formData.questions).then(res => {
        formData.questions = res.data;
        this.$store.dispatch("createForm", formData).then(res => {
          console.log(res.data);
          this.$bvModal
            .msgBoxOk(res.data.surveyUrl, {
              title: "Seu formulário foi criado com sucesso!",
              size: "lg",
              buttonSize: "sm",
              okVariant: "success",
              okTitle: "Dashboard",
              headerClass: "p-2 border-bottom-0",
              footerClass: "p-2 border-top-0",
              centered: true
            })
            .then(value => {
              if (value) {
                this.$router.push({ path: "/dashboard" });
              }
            })
            .catch(error => {
              console.log(error);
            });
        });
      });
    }
  }
};
</script>

<style scoped>
.closeRow {
  cursor: pointer;
  font-size: 1.3em;
}
</style>
